<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Category</title>
</head>
<body>
  <h1>Add Category</h1>

  {{#if error}}
    <p style="color: red;">{{error}}</p>
  {{else if success}}
    <p style="color: green;">{{success}}</p>
  {{/if}}

  <form  action="/admin/categories/add" method = "post">
    <label for="categoryName">Category Name:</label>
    <input type="text" id="categoryName" name="categoryName" required>
    <br>

    <button type="submit">Add Category</button>
  </form>
</body>
</html>
