<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Register</title>
    <style>
      body {
        font-family: "Arial", sans-serif;
        background-color: #f0f0f0;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        margin: 0;
      }

      h1 {
        text-align: center;
        color: #333;
      }

      form {
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: 300px; /* Adjust the width as needed */
      }

      input {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
      }

      input[type="submit"] {
        background-color: #4caf50;
        color: #fff;
        cursor: pointer;
      }

      input[type="submit"]:hover {
        background-color: #45a049;
      }

      h4 {
        color: #d9534f;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <form action="/admin/register" method="POST" >
      <h1>Register</h1>
      <input type="text" name="name" placeholder="Enter name" required />
      <input type="text" name="email" placeholder="Enter email" required />

       
        {{#if message}}
        <p>{{message}}</p>
        {{else}}
        <!-- Nội dung sẽ được hiển thị nếu điều kiện sai -->
        {{/if}}
      <input type="submit" value="Register" />
    </form>


  </body>
</html>
