<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <style>


        input {
            width: calc(100% - 22px);
            padding: 8px;
            margin: 3px 0 3px;
            box-sizing: border-box;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        #user-infomation {
            background-color: #fff;
            padding: 30px;
            border-radius: 8px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
            width: 300px;
        }

        h1 {
            text-align: center;
            color: #333;
        }

        label {
            display: block;
            margin: 10px 0 5px;
            color: #555;
        }


        button {
            background-color: #4caf50;
            color: #fff;
            padding: 12px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            width: 40%;
        }

        button:hover {
            background-color: #45a049;
        }

        img {
            max-width: 100%;
            height: auto;
            margin-top: 10px;
        }
    </style>
</head>

<body>
    <form id="user-infomation"  action="/update-profile" method="POST" enctype="multipart/form-data">
        <h1>User Profile</h1>

        <div>
            {{#if user.imageUrl}}
             <img src="images/avatar/{{user.imageUrl}}" alt="User Image">
    
            {{/if}}
            <label for="image">Upload Image:</label>
            <input type="file" id="image" name="image" accept="image/*" required disabled>

            <label for="name">Name:</label>
            <input type="text" id="name" name="name" value="{{user.name}}" disabled>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" value="{{user.email}}" disabled>

            <label for="username">Username:</label>
            <input type="text" id="username" name="username" value="{{user.username}}" disabled>

            <button type="button" onclick="enableEdit()">Edit</button>
            <button type="submit" style="display:none;">Save</button>
        </div>
    </form>

    <script>
        function enableEdit() {
            const input = document.getElementById("image");
   
            input.removeAttribute('disabled');
       

            const saveButton = document.querySelector('button[type="submit"]');
            saveButton.style.display = 'block';
        }
    </script>
</body>

</html>
